<!DOCTYPE html>
<html>
  <head>
    <title>Contraband</title>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/materialize.css">
    <link rel="stylesheet" href="/css/font-awesome.css">

	<!-- inject:css -->
	<link rel="stylesheet" href="/css/style.css">
	<!-- endinject -->
  </head>
  <body>
    <header>
        <nav>
            <div class="nav-wrapper black" style="padding: 0 20px 0 20px;">
                <a href="/" class="brand-logo"><span class="logo yellow-text text-accent-2">Countraband</span></a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="/browse">Browse</a></li>
                    {{#if user}}
                        <li><a href="/logout">Logout</a></li>
                        <li><a class="yellow-text text-accent-2" href="/user/{{user.id}}"><i class="fa fa-user-secret fa-2x" aria-hidden="true"></i></a></li>
                    {{else}}
                        <li><a href="#login">Login</a></li>
                        <li><a href="#register">Register</a></li>
                    {{/if}}
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="/browse">Browse</a></li>
                    {{#if user}}
                        <li><a href="/logout">Logout</a></li>
                        <li><a class="yellow-text text-accent-2" href="/user/{{user.id}}"><i class="yellow-text text-accent-2 fa fa-user-secret fa-3x" aria-hidden="true"></i></a></li>
                    {{else}}
                        <li><a href="#login">Login</a></li>
                        <li><a href="#register">Register</a></li>
                    {{/if}}
                </ul>
            </div>
        </nav>
    </header>

    <!--Modal for login-->
    <div id="login" class="modal">
        <div class="modal-content">
            <h4 class="center-align">Login</h4>
            <form action="/user/login" method="post" id="loginForm">
                <div class="row">
                    <form class="col s12">
                        <div class="input-field col s12">
                            <input id="username" name="username" type="text" class="validate">
                            <label for="username">Username</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="password" name="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                        <div class="row">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Submit &nbsp;
                                <i class="fa fa-sign-in fa-2x" aria-hidden="true"></i>
                            </button>
                            <p>or <a href="#register" style="color: #006600">Register</a></p>
                        </div>
                    </form>
                </div>
            </form>
        </div>
    </div>
    <!--End of Modal-->

    <!--Modal for registration-->
    <div id="register" class="modal">
        <div class="modal-content">
            <h4 class="center-align">Register</h4>
            <form action="/user/register" method="post" id="registerForm">
                <div class="row">
                    <form class="col s12">
                        <div class="input-field col s12">
                            <input id="username" name="username" type="text" class="validate">
                            <label for="username">Username</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="email" name="email" type="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="passwordRegister" name="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                        <div class="input-field col s12">
                            <input id="password2" name="password2" type="password" class="validate">
                            <label for="password2">Repeat Password</label>
                        </div>
                        <button class="btn waves-effect waves-light" type="submit" name="action">Submit &nbsp;
                            <i class="fa fa-sign-in fa-2x" aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
            </form>
        </div>
    </div>
    <!--End of modal-->

    <main>
        {{{body}}}
    </main>

    <footer class="page-footer black">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="yellow-text text-accent-2">Contact</h5>
                    <p class="grey-text text-lighten-4">Contact us on any of these social and not really social networks.</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Links</h5>
                    <ul>
                        <li><a class="yellow-text text-accent-2" href="#!"><i class="fa fa-facebook fa-2x" aria-hidden="true"></i></a></li>
                        <li><a class="yellow-text text-accent-2" href="#!"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></a></li>
                        <li><a class="yellow-text text-accent-2" href="#!"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></a></li>
                        <li><a class="yellow-text text-accent-2" href="https://github.com/9910"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright yellow accent-2">
            <div class="container black-text">
                © 2017 Copyright Coutraband
            </div>
        </div>
    </footer>

	<!-- inject:js -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/materialize.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/react.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <!--<script src="js/scrollreveal.js"></script>-->
	<!-- endinject -->
    <script>
        $("#loginForm").validate({
            rules: {
                username: {
                    required: true
                },
                password: {
                    required: true,
                    minlength: 8
                }
            },
            //For custom messages
            messages: {
                username:{
                    required: "Enter a username"
                },
                password:{
                    required: "Enter a password",
                    minlength: "Must enter at least 8 characters"
                }
            },
            errorElement : 'div',
            errorPlacement: function(error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            }
        });
        $("#registerForm").validate({
            rules: {
                username: {
                    required: true
                },
                email: "required",
                password: {
                    required: true,
                    minlength: 8
                },
                password2: {
                    equalTo: "#passwordRegister"
                }
            },
            //For custom messages
            messages: {
                username:{
                    required: "Enter a username"
                },
                password:{
                    required: "Enter a password",
                    minlength: "Must enter at least 8 characters"
                },
                password2: {
                    equalTo: "Passwords do not match"
                },
                email: "Enter a valid email"
            },
            errorElement : 'div',
            errorPlacement: function(error, element) {
                var placement = $(element).data('error');
                if (placement) {
                    $(placement).append(error)
                } else {
                    error.insertAfter(element);
                }
            }
        });
    </script>
  </body>
</html>
