<style>
    body {
        background-image: url({{movie.background_image}});
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
</style>
<div class="container" style="padding-top: 50px;">
    <!--Modal for trailer-->
    <div id="trailer" class="modal">
        <div class="modal-content">
            <div class="video-container responsive-video">
                <iframe width="853" height="480" src="https://www.youtube.com/embed/{{movie.yt_trailer_code}}?version=3&showinfo=0&controls=0&rel=0" frameborder="0" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <!--End of modal-->

    <!--Movie Display-->
    <div class="row">
        <div class="col l4 s12">
            <img class="movieCoverProfile" src={{movie.large_cover_image}} alt="Image is loading...">
        </div>
        <div class="col l8 s12 white-text">
            <h3 class="center-align">{{movie.title}}</h3>
            <hr>
            <p>Year: <span class="yellow-text text-accent-2">{{movie.year}}</span></p>
            <p>Rating: <span class="yellow-text text-accent-2">{{movie.rating}}</span></p>
            <p>Runtime: <span class="yellow-text text-accent-2">{{movie.runtime}}</span></p>
            <p>Genres: <span class="yellow-text text-accent-2">{{#each movie.genres}} {{this}}&nbsp; {{/each}}</span></p>
            <p>Cast: <span class="yellow-text text-accent-2">{{#each movie.cast}} {{this.name}}&nbsp; {{/each}}</span></p>
            <p>Description: <span class="yellow-text text-accent-2">{{movie.description_full}}</span></p>
            <p>Trailer: <b><a href="#trailer"><button style="color: black" class="btn waves-effect waves-light yellow accent-2">Play <i class="fa fa-play" aria-hidden="true"></i></button></a></b></p>
        </div>
    </div>
    <!--End of movie display-->

    <!--Pictures-->
    <div class="row">
        <div class="col l4 s12"><img class="materialboxed" width="100%" src={{movie.medium_screenshot_image1}}></div>
        <div class="col l4 s12"><img class="materialboxed" width="100%" src={{movie.medium_screenshot_image2}}></div>
        <div class="col l4 s12"><img class="materialboxed" width="100%" src={{movie.medium_screenshot_image3}}></div>
    </div>
    <!--End pictures-->

    <!--Movie download links-->
    <div class="row">
        <h2 class="center-align white-text">Download Links</h2>
        {{#each movie.torrents}}
        <div class="col l6 s6">
            <table class="bordered centered" style="border: 6px solid #ffff00">
                <thead class="downloadTableHead">
                    <th style="color: black;">
                        {{this.quality}}
                    </th>
                </thead>
                <tbody>
                    <tr>
                        <td>Size: {{this.size}}</td>
                    </tr>
                    <tr>
                        <td>Seeds: {{this.seeds}}</td>
                    </tr>
                    <tr>
                        <td>Peers: {{this.peers}}</td>
                    </tr>
                    <tr>
                        <td><a class="btn yellow accent-2" href="/user/download/{{this.quality}}/{{../movie.id}}" style="color: #000; font-weight: 500; ">Download&nbsp;<i class="fa fa-download fa-2x" aria-hidden="true"></i></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        {{/each}}
    </div>
    {{#if user}}
        <form method="post" action="/user/addReview" style="margin-top: 50px; margin-bottom: 30px;">
            <div class="row">
                <div class="input-field col s12">
                    <textarea id="data" name="data" class="materialize-textarea white-text"></textarea>
                    <label for="data">Your review</label>
                </div>
                <div class="input-field col s12">
                    <input type="hidden" name="movieId" value={{movie.id}}></input>
                </div>
                <button class="btn waves-effect waves-light" type="submit" name="action">Add Review
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
        {{#each reviews}}
            <h5 class="yellow-text left-right">User: {{this.username}}</h5>
            <p class="flow-text white-text" style="font-size: 14px;">{{this.data}}</p>
            <hr>
        {{/each}}
    {{else}}
        <h4 class="yellow-text center-align" style="margin-top: 50px; margin-bottom: 30px;"><b>Login Or Make an Account to Leave Reviews</b></h4>
        {{#each reviews}}
            <h5 class="yellow-text">User: {{this.username}}</h5>
            <p class="flow-text white-text" style="font-size: 14px;">{{this.data}}</p>
            <hr>
        {{/each}}
    {{/if}}
    <!--End movie download links-->
</div>