<div class="container" style="padding-top: 50px;">
    <div class="row">
        <div class="col l4 s12">
            {{#if user.picture}}
                <img class="responsive-img circle profilePic" style="max-width: 250px;" src="http://contraband123.s3.eu-central-1.amazonaws.com/{{user.picture}}" alt="Img is loading...">
            {{else}}
                <img class="responsive-img circle profilePic" style="max-width: 250px;" src="/images/defaultUser.jpg" alt="Img is loading...">
            {{/if}}
            <p class="center-align"><a href="#profilePic">Change Picture</a></p>
        </div>
        <div class="col l8 s12 white-text">
            <h4 class="center-align">Profile Info</h4>
            <hr>
            <p>Username: <span class="yellow-text text-accent-2">{{ user.username }}</span></p>
            <p>Email: <span class="yellow-text text-accent-2">{{ user.email }}</span></p>
        </div>
    </div>
    <div class="row">
        <table class="striped centered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Movie Name</th>
                <th>Download</th>
            </tr>
            </thead>
            <tbody>
            {{#each user.history}}
            <tr>
                <td>{{this.id}}</td>
                <td>{{this.title}}</td>
                <td><a href="/movie/{{this.id}}"><i class="fa fa-film fa-2x" aria-hidden="true"></i></a></td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>