<div class="container" style="padding-top: 50px;">
    <div class="row">
        <div class="col l4 s12">
            <img class="responsive-img circle profilePic" style="max-width: 250px;" src="/images/defaultUser.jpg" alt="Img is loading...">
        </div>
        <div class="col l8 s12 white-text">
            <h4 class="center-align">Profile Info</h4>
            <hr>
            <p>Username: <span class="yellow-text text-accent-2">{{ user.username }}</span></p>
            <p>Email: <span class="yellow-text text-accent-2">{{ user.email }}</span></p>
            <p>IP address: <span class="yellow-text text-accent-2">{{ user.ip }}</span></p>
        </div>
    </div>
    <div class="row">
        <table class="striped centered">
            <thead>
            <tr>
                <th>#</th>
                <th>Movie Name</th>
                <th>Download</th>
            </tr>
            </thead>
            <tbody>
            {{#each user.history}}
            <tr>
                <td>2</td>
                <td>{{this.name}}</td>
                <td><a href="/user/download/{{this.id}}"><i class="fa fa-film fa-2x" aria-hidden="true"></i></a></td>
            </tr>
            {{/each}}
            </tbody>
        </table>
    </div>
</div>